/* a css comment */
div.test .someClass {
    display: block;
    font-size: 14px;
    background-color: #ff0000;
    color: white;
}

#someId {
    background: transparent;
    font-weight: bold;
}

#someId div .someClass {
    display: none;
    font-size: 15px;
}
